html, body, .container {
    /*height: 100%;*/
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
	font-family: georgia,serif;	
}

.shadow{
	text-shadow: 2px 2px #d3d3d3;

}

h1{
	font-size: 40px;
	letter-spacing: 10px;
	text-align: center;
	margin-top: 50px;
}

h2{
	font-size: 18px;
	letter-spacing: 2px;
}

hr{
	width: 400px;
}

.text{
	margin-left: 20%;
	margin-right: 20%;
}

#linksSeparator{
	width: 825px;
}

img{
	width: 50%;
	height: 50%;
}


.center {
	text-align: center;
}

.marginTop {
	margin-top: 5%;
}

#photocenter{
	text-align: center;
}

.textbox{
	margin-right: 15%;
	margin-left: 15%;
	overflow: auto;
	height: 630px;
}

.textbox2{
	margin-right: 25%;
	margin-left: 25%;
}

.jobtitle{
	font-weight: bold;
}

.italic{
	font-style: italic;
}

.crop img{
	border-radius: 200px;
	width:20%;
	height:20%;
}

.highlighted {
	font-weight: bold;
}

#nav{
	margin-top: 5%;
}

#home {
	margin-left: 70px;
}

#resume{
	margin-left: 70px;
	margin-right: 70px;
}

#bio{
	margin-left: 70px;
}

#projects{
	/*margin-left: 20px;*/
	margin-left: 70px;
}

#contact{
	/*margin-left: 20px;*/
	margin-left: 70px;

}

.indent{
	margin-left: 30px;
}

.link {
	text-decoration: none;
	font-size: 30px;
	letter-spacing: 4px;
	color: black;

}

.small_link {
	text-decoration: none;
	font-size: 20px;
	letter-spacing: 4px;
	color: black;
}

#small_nav {
	position: fixed;
	bottom: 2%;
	width: 100%;
}

#rightAlign {
	justify-content: left;
}



a:visited{
	color: inherit;
}

a:hover{
	color: #e0e0eb;
}

./*screen {
	height: 75vh;
}*/

#poop {
	background-color: green;
}

.subtitle {
	font-size: 20px;
}
